<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  
<servlet>
<servlet-name>AddStudent</servlet-name>
<servlet-class>com.oop.servlet.AddStudent</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStudent</servlet-name>
<url-pattern>/addstudent</url-pattern>
</servlet-mapping>
  
<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>com.oop.servlet.Login</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>  
 
<servlet>
<servlet-name>UpdateStudentPwd</servlet-name>
<servlet-class>com.oop.servlet.UpdateStudentPwd</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UpdateStudentPwd</servlet-name>
<url-pattern>/updatestudentpassword</url-pattern>
</servlet-mapping>   

<servlet>
<servlet-name>DeleteStudent</servlet-name>
<servlet-class>com.oop.servlet.DeleteStudent</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteStudent</servlet-name>
<url-pattern>/deletestudent</url-pattern>
</servlet-mapping>  

<servlet>
<servlet-name>AddStaff</servlet-name>
<servlet-class>com.oop.servlet.AddStaff</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddStaff</servlet-name>
<url-pattern>/addstaff</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateStaffPwd</servlet-name>
<servlet-class>com.oop.servlet.UpdateStaffPwd</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UpdateStaffPwd</servlet-name>
<url-pattern>/updatestaffpassword</url-pattern>
</servlet-mapping>   

<servlet>
<servlet-name>DeleteStaff</servlet-name>
<servlet-class>com.oop.servlet.DeleteStaff</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteStaff</servlet-name>
<url-pattern>/deletestaff</url-pattern>
</servlet-mapping>  

<servlet>
<servlet-name>AddTicket</servlet-name>
<servlet-class>com.oop.servlet.AddTicket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddTicket</servlet-name>
<url-pattern>/addticket</url-pattern>
</servlet-mapping> 

<servlet>
<servlet-name>DeleteTicket</servlet-name>
<servlet-class>com.oop.servlet.DeleteTicket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteTicket</servlet-name>
<url-pattern>/deleteticket</url-pattern>
</servlet-mapping>  

<servlet>
<servlet-name>GetTicket</servlet-name>
<servlet-class>com.oop.servlet.GetTicket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>GetTicket</servlet-name>
<url-pattern>/getticket</url-pattern>
</servlet-mapping>  

<servlet>
<servlet-name>UpdateTicket</servlet-name>
<servlet-class>com.oop.servlet.UpdateTicket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UpdateTicket</servlet-name>
<url-pattern>/updateticket</url-pattern>
</servlet-mapping> 

<servlet>
<servlet-name>GetSolution</servlet-name>
<servlet-class>com.oop.servlet.GetSolution</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>GetSolution</servlet-name>
<url-pattern>/getsolution</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddHandler</servlet-name>
<servlet-class>com.oop.servlet.AddHandler</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddHandler</servlet-name>
<url-pattern>/addhandler</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteHandler</servlet-name>
<servlet-class>com.oop.servlet.DeleteHandler</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteHandler</servlet-name>
<url-pattern>/deletehandler</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>GetStudent</servlet-name>
<servlet-class>com.oop.servlet.GetStudent</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>GetStudent</servlet-name>
<url-pattern>/getstudent</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateStudent</servlet-name>
<servlet-class>com.oop.servlet.UpdateStudent</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UpdateStudent</servlet-name>
<url-pattern>/updatestudent</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>GetStaff</servlet-name>
<servlet-class>com.oop.servlet.GetStaff</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>GetStaff</servlet-name>
<url-pattern>/getstaff</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>UpdateStaff</servlet-name>
<servlet-class>com.oop.servlet.UpdateStaff</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UpdateStaff</servlet-name>
<url-pattern>/updatestaff</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CloseTicket</servlet-name>
<servlet-class>com.oop.servlet.CloseTicket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>CloseTicket</servlet-name>
<url-pattern>/closeticket</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateHandlerPwd</servlet-name>
<servlet-class>com.oop.servlet.UpdateHandlerPwd</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UpdateHandlerPwd</servlet-name>
<url-pattern>/updatehandlerpassword</url-pattern>
</servlet-mapping> 

<servlet>
<servlet-name>UpdateHandler</servlet-name>
<servlet-class>com.oop.servlet.UpdateHandler</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UpdateHandler</servlet-name>
<url-pattern>/updatehandler</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>GetHandler</servlet-name>
<servlet-class>com.oop.servlet.GetHandler</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>GetHandler</servlet-name>
<url-pattern>/gethandler</url-pattern>
</servlet-mapping>  

<servlet>
<servlet-name>AcceptTicket</servlet-name>
<servlet-class>com.oop.servlet.AcceptTicket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AcceptTicket</servlet-name>
<url-pattern>/acceptticket</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ForwardTicket</servlet-name>
<servlet-class>com.oop.servlet.ForwardTicket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ForwardTicket</servlet-name>
<url-pattern>/forwardticket</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CancelTicket</servlet-name>
<servlet-class>com.oop.servlet.CancelTicket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>CancelTicket</servlet-name>
<url-pattern>/cancelticket</url-pattern>
</servlet-mapping>

 <display-name>OnlineHelpDesk</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>